<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/fdc7ea6453.js" crossorigin="anonymous"></script>
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="container-login">
      <h1>Welcome back!</h1>
      <h2>Log in and access your account.</h2>
      <form action="/login" method="post" class="form-login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-input">
        <button type="submit" class="form-button">Login <i class="fas fa-sign-in-alt"></i></button>
      </form>
      <div class="row">
        <a href="/register">Don't have an account? Create one right now.</a>
      </div>
      <footer><small>Created and developed by Jacksson Andrey.</small></footer>
    </div>
    <div class="container-img-login">
      <img src="images/passport-login-1.png" alt="Login Passport">
    </div>
  </div>
</body>
</html>